# Pergunta escolhida

Países com IDH elevado tendem a ter menos mortes por HIV? Há exceções?

# Tabelas das variáveis escolhidas

In [2]:
import pandas as pd

hdi = pd.read_excel('hdi_human_development_index.xlsx')
hdi_2011 = hdi.loc[:,['geo',2011]]
hdi_2011.head(3)

           geo   2011
0  Afghanistan  0.463
1      Albania  0.752
2      Algeria  0.732

In [3]:
hiv = pd.read_excel('annual_hiv_deaths_number_all_ages.xlsx')
hiv_2011= hiv.loc[:,['geo',2011]]
hiv_2011.head(3)

           geo   2011
0  Afghanistan  350.0
1      Algeria    NaN
2       Angola    NaN

In [4]:
sani=pd.read_excel('at_least_basic_sanitation_overall_access_percent.xlsx')
sani_2011 = sani.loc[:,['geo',2011]]
sani_2011.head(3)

           geo  2011
0  Afghanistan  34.7
1      Albania  96.2
2      Algeria  86.8

# Atualizando índices e juntando as tabelas

In [10]:
hdi_idx = hdi_2011.set_index('geo')
sani_idx = sani_2011.set_index('geo')
hiv_idx = hiv_2011.set_index('geo')
hiv_idx.rename(index = str, columns = lambda column : str(column) + '_hiv')

                          2011_hiv
geo
Afghanistan                  350.0
Algeria                        NaN
Angola                         NaN
Argentina                      NaN
Armenia                      350.0
Australia                    150.0
Austria                       60.0
Azerbaijan                   350.0
Bahamas                      350.0
Bangladesh                     NaN
Barbados                      60.0
Belarus                        NaN
Belgium                       60.0
Belize                       350.0
Benin                          NaN
Bhutan                        60.0
Bolivia                     1600.0
Botswana                       NaN
Brazil                     15000.0
Bulgaria                     350.0
Burkina Faso                   NaN
Burundi                        NaN
Cambodia                    1400.0
Cameroon                       NaN
Canada                       350.0
Central African Republic       NaN
Chad                           NaN
China                          NaN
Colombia                    9700.0
Comoros                        NaN
...                            ...
Slovenia                      60.0
Somalia                     3100.0
South Africa              270000.0
South Korea                  350.0
South Sudan                11000.0
Spain                          NaN
Sri Lanka                    350.0
Sudan                       5600.0
Suriname                     350.0
Swaziland                   6800.0
Sweden                        60.0
Switzerland                   60.0
Tajikistan                     NaN
Tanzania                   84000.0
Thailand                       NaN
Togo                           NaN
Trinidad and Tobago          600.0
Tunisia                       60.0
Turkey                         NaN
Uganda                     62000.0
Ukraine                    22000.0
United Kingdom               350.0
United States              20000.0
Uruguay                      600.0
Uzbekistan                     NaN
Venezuela                   2900.0
Vietnam                        NaN
Yemen                       1600.0
Zambia                         NaN
Zimbabwe                   58000.0

[149 rows x 1 columns]

In [13]:
dados = hdi_idx.join(sani_idx, how = 'inner',lsuffix ='_hdi', rsuffix = '_sanitation')
dados_2011 = dados.join(hiv_idx, how = 'inner')
dados_2011.head(10)
dados_2011.

             2011_hdi  2011_sanitation   2011
geo
Afghanistan     0.463             34.7  350.0
Algeria         0.732             86.8    NaN
Angola          0.508             34.3    NaN
Argentina       0.822             94.9    NaN
Armenia         0.732             91.3  350.0
Australia       0.930            100.0  150.0
Austria         0.884            100.0   60.0
Azerbaijan      0.742             83.2  350.0
Bahamas         0.789             91.7  350.0
Bangladesh      0.557             41.4    NaN